body,
html{
	margin: 0;
	padding: 0;
	width:  100%;
	height: 100%;
}
.main-container{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
}
body > .row{
	margin-bottom: 0;
}

/*------SIDEBAR------*/

.sidebar{
	width: 100%;
	height: 100%;
	padding-left: 0;
	color: white;
}
.sidebar header{
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	border-bottom: 0.5rem solid white;
	border-radius: 5px;
}
.sidebar h5{
	margin-top: 0;
}
.sidebar .img i{
	font-size: 8rem;
}

/*------MAIN-CONTENT------*/

.col.main-content{
	padding: 1rem 2rem;
}
.col.main-content nav{
	padding: 0 1rem;
}